<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/output.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <title><%= title %></title>
</head>
<body class="flex justify-center items-center h-[100vh] bg-[url('/img/bg.png')] bg-no-repeat bg-cover bg-center">
     <div class="main relative flex flex-col gap-4 items-center h-[80vh] w-[90vw] md:w-[75vw] self-center bg-[#beef00] rounded-2xl shadow-gray-700 shadow-2xl">
        <button class="absolute top-[2%] md:top-[3%] left-[2%]"><img src="/img/leftarrow.svg" alt="Left"></button>
        <div class="movieinfo flex flex-col justify-center items-center gap-1 pt-5 p-3">
         <h1 class="text-[17px] md:text-[30px] cutive-regular px-3 py-2 rounded-xl bg-[#0B1B2A] text-white text-center"><%= title %></h1>
         <div class="about flex gap-1 cascadia-code flex-wrap items-center justify-center">
            <p class="rated"><%= rated %> •</p>
            <p class="released"><%= released %> •</p>
            <p class="genre"><%= genre %> •</p>
            <p class="duration"><%= duration %></p>
         </div>
        <img class="rounded-md w-45 border-3 border-[#0B1B2A]  shadow-gray-700 shadow-sm" src="<%= poster %>" alt="poster">
        <div class="business">
            <p class="boxoffice cascadia-code">Box Office:<%= boxoffice %></p>
        </div>
        <p class="director cascadia-code px-2 py-1 rounded-xl bg-[#0B1B2A] text-white">Director: <%= director %></p>
        <div class="rating cascadia-code flex gap-4 text-[12px]">
            <p class="flex justify-center items-center gap-1"><span><img width="40" height="40" src="https://upload.wikimedia.org/wikipedia/commons/6/69/IMDB_Logo_2016.svg"></span><span><%= ratings[0] %></span></p>
            <p class="flex justify-center items-center gap-1"><span><img width="25" height="25" src="https://upload.wikimedia.org/wikipedia/commons/5/5b/Rotten_Tomatoes.svg"></span><span><%= ratings[1] %></span></p>
            <p class="flex justify-center items-center gap-1"><span><img width="30" height="30" src="https://upload.wikimedia.org/wikipedia/commons/f/f2/Metacritic_M.png"></span><span><%= ratings[2] %></span></p>
        </div>

        </div>
     </div>
</body>
</html>